head{
    text-align: center;
}
body{

    text-align: center;
}
#header-img{
    text-align: left;
    }
    #connect{ padding:7% 15%;
        background-color:white; 
        text-align: center;
        color: black;}
        .margin{
       margin: 7% 15%;


        }